<h3>
  {{form.server}} {{form.serverVersion}}, {{form.config}} config{{#if output.usesOpenssl}}, OpenSSL {{form.opensslVersion}}{{/if}}
</h3>
<h6 id="output-clients">
  Supports {{#each output.oldestClients}}
    {{#if @last}} and {{this}}{{else}}{{this}}, {{/if}}
  {{/each}}
</h6>